
$bg-light-primary:#DDDBD7;
$color-light-text:#272522;
$bg-text-orange:#E55200;
$bg-text-grey:#8B9081;
$bg-light-blank:#1B1918;

$bg-dark-primary:#1B1918;
$color-dark-text:#ECE8E5;
$bg-text-orange:#E55200;
$bg-text-grey:#8A8F80;
$bg-dark-blank:#EAE6E3;